In [78]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns



url ='https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
quiz_df = pd.read_csv(url, encoding="latin-1")
quiz_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [15]:
import numpy as np

array  = np.array([[94, 89, 63], [93, 92, 48],[92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

In [25]:
# Question 3
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

dt_dict = {'Age':[35,33,30],
          'Nationality':['Portugal','Argentina','Brazil'],
          'Overall':[94,93,92]}
df = pd.DataFrame(dt_dict, index=[1,2,3])



res_df = pd.DataFrame(lst, columns = ['Age','Nationality','Overall'], index = [1,2,3])

ok_df = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
print(ok_df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [69]:
#Question 4
#quiz_df.describe(include='all')

quiz_df[['Y2017','Area']].groupby('Area').max()

                                 Y2017
Area
Algeria                       41389.00
Angola                        29817.00
Benin                         11175.00
Botswana                       2341.00
Burkina Faso                  19193.00
Cabo Verde                     2530.00
Cameroon                      24566.00
Central African Republic       4596.00
Chad                          15017.00
Comoros                          16.65
Congo                          5111.00
CÃ´te d'Ivoire                 24437.00
Djibouti                       2664.00
Egypt                         96443.00
Eswatini                       5553.00
Ethiopia                     106400.00
Ethiopia PDR                      0.00
Gabon                          2640.00
Gambia                         2544.00
Ghana                         29121.00
Guinea                        12068.00
Guinea-Bissau                  2233.00
Kenya                         50221.00
Lesotho                        2475.00
Liberia                        4702.00
Madagascar                    25571.00
Malawi                        17670.00
Mali                          18512.00
Mauritania                    51864.00
Mauritius                      3713.00
Morocco                       38348.00
Mozambique                    28649.00
Namibia                        2465.00
Niger                         21602.00
Nigeria                      190873.00
Rwanda                        11981.00
Sao Tome and Principe          2407.00
Senegal                       15419.00
Seychelles                      204.02
Sierra Leone                   7488.00
South Africa                  57010.00
Sudan                         40813.00
Sudan (former)                    0.00
Togo                           7698.00
Tunisia                       11433.00
Uganda                        41167.00
United Republic of Tanzania   54660.00
Zambia                        16854.00
Zimbabwe                      14237.00

In [ ]:
quiz_df[['Y2017','Area']].groupby('Area').max()

In [76]:
quiz_df.ndim

2

In [88]:
# Question 7
y = ([(2, 4), (7, 8), (1, 5, 9)])
x = y[1][1]
x

8

In [145]:
quiz_df[['Y2017','Area']].groupby('Area')['Y2017'].min().nsmallest(100,keep='all')

Area
Egypt                         -1582.0
Mozambique                    -1200.0
United Republic of Tanzania    -865.0
Sudan                          -819.0
Ethiopia                       -792.0
Nigeria                        -694.0
Niger                          -682.0
Rwanda                         -631.0
Mali                           -600.0
Zimbabwe                       -521.0
Madagascar                     -324.0
Burkina Faso                   -281.0
Angola                         -250.0
CÃ´te d'Ivoire                  -244.0
Morocco                        -229.0
Tunisia                        -186.0
Kenya                          -186.0
Sierra Leone                   -180.0
Uganda                         -180.0
Cameroon                       -147.0
South Africa                   -144.0
Benin                          -125.0
Ghana                          -121.0
Guinea                         -108.0
Eswatini                       -100.0
Algeria                         -81.0
Senegal                         -68.0
Malawi                          -50.0
Zambia                          -42.0
Botswana                        -38.0
Gabon                           -37.0
Chad                            -37.0
Namibia                         -35.0
Togo                            -32.0
Mauritius                       -25.0
Liberia                         -19.0
Cabo Verde                       -7.0
Lesotho                          -4.0
Congo                            -4.0
Guinea-Bissau                    -3.0
Gambia                           -2.0
Djibouti                         -2.0
Central African Republic         -1.0
Mauritania                       -1.0
Comoros                           0.0
Sao Tome and Principe             0.0
Ethiopia PDR                      0.0
Sudan (former)                    0.0
Seychelles                        0.0
Name: Y2017, dtype: float64

In [154]:
#Question 
quiz_df[['Item','Y2015','Y2018']].groupby('Item')['Y2015'].sum()['Wine']

4251.81

In [152]:
quiz_df[['Item','Y2015','Y2018']].groupby('Item')['Y2018'].sum()['Wine']

4039.32

In [158]:
# Question
quiz_df.shape

(60943, 12)

In [165]:
#Question
quiz_df.iloc[1,1]

'Algeria'

In [170]:
#Question
quiz_df[['Y2017']].mean()

Y2017    140.917765
dtype: float64

In [172]:
quiz_df[['Y2017']].std()

Y2017    1671.862359
dtype: float64

In [184]:
# Question
quiz_df[['Element','Y2017']].groupby('Element').sum()

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00